[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
cognite-sdk = "==0.13.5"
cognite-logger = "==0.4.*"
cognite-prometheus = "==0.1.6"
google-cloud-logging = "==1.11.0"
aiofiles = {editable = true,git = "https://github.com/Tinche/aiofiles.git"}

[dev-packages]
isort = "*"
black = "==19.3b0"
pytest-cov = "*"
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
